
<% if(!profile) { %>

        <!-- Columna de Filtros -->
    <div class="col-md-3 mb-4 <%= profile ? 'd-none': ''%>">
        <h2 class="mb-2 mt-5 text-center text-md-start">Filtrar Eventos</h2>
        <form id="filterForm" class="p-4 rounded login-box shadow-sm mt-3">
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" name="fecha" placeholder="none">
            </div>
            
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo de evento</label>
                <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Ej: Conferencia, Taller">
            </div>
            <div class="mb-3">
                <label for="ubicacion" class="form-label">Ubicación</label>
                <input type="text" class="form-control" id="ubicacion" name="ubicacion" placeholder="Ej: Auditorio, Sala A">
            </div>
            <div class="mb-3">
                <label for="capacidad" class="form-label">Capacidad máxima</label>
                <input type="number" class="form-control" id="capacidad" name="capacidad" placeholder="Ej: 50">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="bi bi-search me-1"></i> Filtrar
                </button>
                <button type="reset" class="btn btn-outline-secondary">
                    <i class="bi bi-x-circle me-1"></i> Limpiar
                </button>
            </div>
        </form>
    </div>
<% } %>

 <!-- Columna de Lista de Eventos -->
 <div class="col-md-9 mb-4">
    <div class="container mt-5 lista-eventos scrollbar">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-2">

            <% if(profile) { %>
                <% if (user.rol === 'organizador') { %>
                    <h2 class="mb-2">Lista de Eventos que has creado</h1>
                <% } else if (user.rol === 'participante') { %>
                    <h2 class="mb-2">Eventos en los que estás inscrito </h1>
                <% } %>
            <% } else { %>
                <h2 class="mb-2">Lista de Eventos</h1>
            <% } %>
            <% if (user.rol === 'organizador') { %>
                <button id="btn_modal_crear" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createEventModal">
                    <i class="bi bi-plus-circle me-1"></i> Añadir Evento
                </button>
            <% } %>

        </div>
        <div id="eventosContainer">
            <% eventos.forEach(evento => { %>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card" tabindex="0">
                            <div class="card-header m-1">
                                <h4 class="card-title"><%= evento.titulo %></h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><strong>Descripción:</strong> <%= evento.descripcion %></p>
                                <p class="card-text"><strong>Fecha:</strong> <%= new Date(evento.fecha).toLocaleDateString('es-ES') %></p>
                                <p class="card-text"><strong>Hora de inicio:</strong> <%= evento.hora_ini %></p>
                                <p class="card-text"><strong>Hora de fin:</strong> <%= evento.hora_fin %></p>
                                <p class="card-text"><strong>Ubicación:</strong> <%= evento.ubicacion %></p>
                                <p class="card-text"><strong>Capacidad Máxima:</strong> <%= evento.capacidad_maxima %></p>
                                <p class="card-text"><strong>Organizador:</strong> <%= evento.organizador_nombre %></p>
                            </div>
                            <div class="card-footer m-1 d-flex flex-wrap align-items-center justify-content-lg-start">
                                <small class="mx-2 mt-1">ID Evento: <%= evento.id %></small>
                                <% if (evento.terminado) { %>
                                    <div class="mx-2 mt-1 red-text"> <i class="bi bi-calendar-x red-text"></i> Evento finalizado</div>
                                    <% if (user.rol === 'participante' && evento.estadoInscripcion === 'inscrito') { %>
                                        <button class="btn btn-outline-primary btn-event participante ms-2 mt-1" data-bs-toggle="modal" data-bs-target="#rateEventModal" onclick="setEventoId('<%= evento.id %>')">
                                            <i class="bi bi-star-fill me-1"></i> Calificar Evento
                                        </button>
                                    <% }  %>
                                        <button class="btn btn-outline-info btn-event organizador ms-2 mt-1" data-bs-toggle="modal" data-bs-target="#viewRatingsModal" onclick="showRatings('<%= evento.id %>')">
                                            <i class="bi bi-list-stars me-1"></i> Ver Calificaciones
                                        </button>
                                <% } else { %>
                                    <% if ((user.rol === 'organizador') && (user.id === evento.organizador_id)){ %>
                                        <button class="btn btn-outline-primary btn-event organizador mt-1" data-bs-toggle="modal" data-bs-target="#editEventModal" onclick="fillModal('<%= JSON.stringify(evento) %>')">
                                            <i class="bi bi-pencil-square me-1"></i> Editar
                                        </button>
                                        <button class="btn btn-outline-danger btn-event organizador ms-2 mt-1" data-bs-toggle="modal" data-bs-target="#deleteEventModal" onclick="setEventoId('<%= evento.id %>')">
                                            <i class="bi bi-trash me-1"></i> Eliminar
                                        </button>
                                        <button class="btn btn-outline-info btn-event organizador ms-2 mt-1" data-bs-toggle="modal" data-bs-target="#participantsModal" onclick="showParticipants('<%= evento.id %>')">
                                            <i class="bi bi-people me-1"></i> Participantes
                                        </button>
                                    <% } else if (user.rol === 'participante') { %>
                                        <% if (evento.estadoInscripcion==='inscrito') { %>
                                            <button onclick= "desinscribirUsuario('<%= evento.id %>','<%= evento.organizador_id %>')" class="btn btn-outline-danger btn-event participante" >Desapuntarse</button>
                                            <div id="mensaje-<%= evento.id %>" class="mx-2 green-text">Inscrito en el evento</div>
                                        <% } else if  (evento.estadoInscripcion==='lista de espera') { %>
                                            <button onclick= "abandonarListaEspera('<%= evento.id %>','<%= evento.organizador_id %>')" class="btn btn-outline-warning btn-event participante" >Abandonar</button>
                                            <div id="mensaje-<%= evento.id %>" class="mx-2 text-warning">En lista de espera</div>
                                        <% } else { %>
                                            <button id="apuntarse" onclick="inscribirUsuario('<%= evento.id %>','<%= evento.organizador_id %>')" class="btn btn-outline-primary btn-event participante">Apuntarse</button>
                                            <div id="mensaje-<%= evento.id %>"></div>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>


<!-- Modal para Crear Evento -->
<div class="modal fade px-2" id="createEventModal" tabindex="-1" aria-labelledby="createEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="createEventModalLabel">Crear Nuevo Evento</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-1">
                <form id="createEventForm">
                    <!-- Título del Evento -->
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" required>
                    </div>
                    <!-- Descripción del Evento -->
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="1" required></textarea>
                    </div>
                    <!-- Fecha del Evento -->
                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="fecha" name="fecha" required>
                    </div>
                    <!-- Hora del Evento -->
                    <div class="mb-3">
                        <label for="hora_ini" class="form-label">Hora de inicio</label>
                        <input type="time" class="form-control" id="hora_ini" name="hora_ini" required>
                    </div>
                     <!-- Hora del Evento -->
                     <div class="mb-3">
                        <label for="hora_fin" class="form-label">Hora de fin</label>
                        <input type="time" class="form-control" id="hora_fin" name="hora_fin" required>
                    </div>
                    <!-- Facultad -->
                    <div class="mb-3">
                        <label for="facultad" id="facultadLabel" class="form-label">Facultad</label>
                        <select id="facultad" name="facultad" class="form-select" aria-labelledby="facultadLabel" required aria-label="Selecciona tu facultad">
                            <option value="" disabled selected>Seleccione una facultad</option>
                        </select>
                    </div>
                    <!-- Ubicación del Evento -->
                    <div class="mb-3">
                        <label for="ubicacion" class="form-label">Ubicación</label>
                        <input type="text" class="form-control" id="ubicacion" name="ubicacion" required placeholder="Sala o Lugar dentro de la Facultad">
                    </div>
                    <!-- Capacidad Máxima -->
                    <div class="mb-3">
                        <label for="capacidad_maxima" class="form-label">Capacidad Máxima</label>
                        <input type="number" class="form-control" id="capacidad_maxima" name="capacidad_maxima" required min="1">
                    </div>
                    
                    <!-- Campo oculto para el ID del organizador -->
                    <input type="hidden" name="organizador_id" value="<%= user.id %>">
                    <!-- Botones -->
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="createEventButton" type="submit" class="btn btn-outline-primary">Crear Evento</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación para Eliminar Evento -->
<div class="modal fade" id="deleteEventModal" tabindex="-1" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="deleteEventModalLabel">¿Estás seguro de que deseas eliminar este evento?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-1">
                <p>Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="confirmDeleteEventButton" type="button" class="btn btn-outline-danger">Eliminar Evento</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Editar Evento -->
<div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="editEventModalLabel">Editar Evento</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-1">
                <form id="editEventForm">
                    <!-- Título del Evento -->
                    <div class="mb-3">
                        <label for="editTitulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="editTitulo" name="titulo" required>
                    </div>
                    <!-- Descripción del Evento -->
                    <div class="mb-3">
                        <label for="editDescripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="editDescripcion" name="descripcion" rows="1" required></textarea>
                    </div>
                    <!-- Fecha del Evento -->
                    <div class="mb-3">
                        <label for="editFecha" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="editFecha" name="fecha" required>
                    </div>
                    <!-- Hora del Evento -->
                    <div class="mb-3">
                        <label for="editHoraIni" class="form-label">Hora de inicio</label>
                        <input type="time" class="form-control" id="editHoraIni" name="hora_ini" required>
                    </div>
                     <!-- Hora del Evento -->
                     <div class="mb-3">
                        <label for="editHoraFin" class="form-label">Hora de fin</label>
                        <input type="time" class="form-control" id="editHoraFin" name="hora_fin" required>
                    </div>
                     <!-- Facultad -->
                     <div class="mb-3">
                        <label for="facultad" id="facultadLabel" class="form-label">Facultad</label>
                        <select id="facultad" name="facultad" class="form-select" aria-labelledby="facultadLabel" required aria-label="Selecciona tu facultad">
                            <option value="" disabled selected>Seleccione una facultad</option>
                        </select>
                    </div>
                    <!-- Ubicación del Evento -->
                    <div class="mb-3">
                        <label for="editUbicacion" class="form-label">Ubicación</label>
                        <input type="text" class="form-control" id="editUbicacion" name="ubicacion" required>
                    </div>
                    <!-- Capacidad Máxima -->
                    <div class="mb-3">
                        <label for="editCapacidadMaxima" class="form-label">Capacidad Máxima</label>
                        <input type="number" class="form-control" id="editCapacidadMaxima" name="capacidad_maxima" required min="1">
                    </div>
                    
                    <!-- Botones -->
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="confirmEditEventButton" type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Ver Calificaciones del Evento -->
<div class="modal fade px-2" id="viewRatingsModal" tabindex="-1" aria-labelledby="viewRatingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="viewRatingsModalLabel">Calificaciones del Evento</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           
            <div class="modal-body">
                <div class="container" >
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="container mt-2" style="overflow-y: auto; max-height: 75vh;">
                                <div id="ratingsContainer">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Calificar el Evento -->
<div class="modal fade" id="rateEventModal" tabindex="-1" aria-labelledby="rateEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="rateEventModalLabel">Calificar Evento</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-2">
                <form id="rateEventForm">
                    <div class="mb-3">
                        <label for="rating" class="form-label">Calificación</label>
                        <select class="form-select" id="rating" name="rating" required>
                            <option value="1">1 - Muy Malo</option>
                            <option value="2">2 - Malo</option>
                            <option value="3">3 - Regular</option>
                            <option value="4">4 - Bueno</option>
                            <option value="5">5 - Muy Bueno</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="comments" class="form-label">Comentarios</label>
                        <textarea class="form-control" id="comments" name="comments" rows="3" required></textarea>
                    </div>
                    <input type="hidden" id="rateEventId" name="eventId">
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="calificarEventoButton" type="submit" data-bs-dismiss="modal" class="btn btn-outline-primary">Enviar Calificación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para ver Participantes -->
<div class="modal fade px-2" id="participantsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="notificationsModalLabel">Participantes</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" >
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="container mt-2" style="overflow-y: auto; max-height: 75vh;">
                
                                <div id="participantesContainer">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>  
        </div>
    </div>
</div>

