<%- include("partials/header.ejs", { user: user }) %>

<div class="container mt-2 mb-2">
   
    <div class="row">
    <%- include ("partials/eventos.ejs", { eventos: eventos, user: user, profile: false }) %>
    </div>
    <%- include("partials/toast.ejs") %>
    
</div>
<script>
    const userRole = "<%= user.rol %>";  
    //paso el rol y el id del usuario al script de dashboard.js
    const profile=false; 
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/dashboard.js"></script>



<%- include("partials/footer.ejs") %>
