<%- include("partials/header.ejs", { user: user }) %>
<div class="container mt-2 mb-2">
    
    <div class="row">
        
        <!-- Columna de Perfil -->
        <div class="col-md-3 mb-4">
            <h2 class="mt-5 text-center">Actualizar Perfil</h2>
            
            <!-- Pestañas -->
            <ul class="nav nav-tabs justify-content-center gap-2" id="profileTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active btn-sm" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">
                        Información
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-sm" id="accessibility-tab" data-bs-toggle="tab" data-bs-target="#accessibility" type="button" role="tab" aria-controls="accessibility" aria-selected="false">
                        Accesibilidad
                    </button>
                </li>
            </ul>

            <!-- Contenido de las pestañas -->
            <div class="tab-content mt-3" id="profileTabsContent">
                <!-- Pestaña de Información -->
                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                <form id="updateProfileForm" class="p-4 mt-3 rounded login-box shadow-sm" autocomplete="off">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nuevo nombre" autocomplete="new-name">
                    </div>
                    <label for="telefono" class="form-label">Teléfono de contacto</label>
                    <div class="input-group mb-3">
                        <button class="btn btn-sm btn-outline-primary dropdown-toggle mb-0 me-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">+34</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item blue-text" href="#" data-prefix="+49">+49 (Alemania)</a></li>
                            <li><a class="dropdown-item blue-text" href="#" data-prefix="+44">+44 (UK)</a></li>
                            <li><a class="dropdown-item blue-text" href="#" data-prefix="+34">+34 (España)</a></li>
                            <li><a class="dropdown-item blue-text" href="#" data-prefix="+33">+33 (Francia)</a></li>
                        </ul>
                        <input type="hidden" name="telefonoCompleto" id="telefonoCompleto">
                        <input type="text" class="form-control mb-0" id="telefono" name="telefono" autocomplete="new-tel">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="password" id="password" minlength="8" placeholder="Ingrese su nueva contraseña" autocomplete="off"> 
                    </div>
                    <div class="mb-3">
                        <label for="passwordConfirm" class="form-label">Repetir Contraseña</label>
                        <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" minlength="8" placeholder="Repita su nueva contraseña" autocomplete="off">
                        <div id="passwordMessage" class=" mt-2 form-text"></div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-save"></i> 
                            Guardar Cambios
                        </button>
                    </div>
                </form>
                </div>

                <!-- Pestaña de Accesibilidad -->
                <div class="tab-pane fade" id="accessibility" role="tabpanel" aria-labelledby="accessibility-tab">
                    <form id="accessibilityForm" class="p-4 mt-3 rounded login-box shadow-sm">
                        <div class="mb-3">
                            <label for="theme" class="form-label">Tema</label>
                            <select id="theme" name="theme" class="form-select" required>
                                <option value="light">Claro</option>
                                <option value="dark">Oscuro</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="navigation" class="form-label">Tipo de Navegación</label>
                            <select id="navigation" name="navigation" class="form-select" required>
                                <option value="keyboard">Teclado</option>
                                <option value="mouse">Ratón</option>
                                <option value="both">Ambos</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="fontSize" class="form-label">Tamaño de Letra</label>
                            <select id="fontSize" name="fontSize" class="form-select" required>
                                <option value="small">Pequeño</option>
                                <option value="normal">Normal</option>
                                <option value="large">Grande</option>
                            </select>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="bi bi-save"></i> 
                                Guardar Cambios
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Columna de Lista de Eventos -->
        <%- include ("partials/eventos.ejs", { eventos: eventos, user: user, profile: true }) %>
        <%- include("partials/toast.ejs") %>
    </div>

</div>
<script>
    const userRole = "<%= user.rol %>";  
    const profile = true;
    //paso el rol y el id del usuario al script de dashboard.js
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/dashboard.js"></script>
<script src="/javascripts/perfil.js"></script>

<%- include("partials/footer.ejs") %>